{% extends 'manage/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    Типове обекти
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-sm">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Име</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for geoObjectType in list %}
                            <tr>
                                <td>
                                    <a href="" class="btn btn-white btn-xs p-0"><i class="fa fa-pencil"></i></a>
                                </td>
                                <td>{{ geoObjectType.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}