<ul class="nav nav-pills mb-4">
    <li class="nav-item">
        <a class="nav-link {{ active == 'condition' ? 'active' : '' }}" href="{{ path('manage.geospatial.style-condition.list') }}">Атрибути</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ active == 'group' ? 'active' : '' }}" href="{{ path('manage.geospatial.style-group.list') }}">Групи</a>
    </li>
</ul>