{% extends 'front/map/layout.html.twig' %}
{% block title %}Карта{% endblock %}
{% block content %}
    <div id="mapMain" data-locate-on-load="true" data-geo-collection="123" style=""></div>

    {% include 'front/geo-object/details.html.twig' %}

    {% include 'front/geo-collection/index.html.twig' %}

    <div class="loading d-none">
        <h3 class="mb-4">Локализиране...</h3>
        <img src="{{ asset('images/loading.svg', 'front') }}" class="img-fluid" alt="">
    </div>
{% endblock %}
