{% block content %}
    <div id="collections" class="collections survey side-panel d-flex flex-column align-items-center justify-content-start" data-toggle-type="side-panel">
        <div class="container side-panel-btn-close-holder position-fixed d-flex flex-column align-items-center justify-content-center">
            <button data-toggle-close data-toggle-for="collections" class="btn cursor-pointer side-panel-btn-close">
                <i class="fas fa-ellipsis-h"></i>
            </button>
            <div class="side-panel-nav d-flex flex-md-column p-md-2 mt-md-3">
                <button class="add active side-panel-nav-btn btn btn-primary rounded-circle" role="button">
                    <i class="fas fa-plus-circle"></i>
                </button>
            </div>
        </div>

        <div class="d-flex justify-content-center w-100 row pl-lg-4 overflow-auto carousel slide carousel-vertical-stack h-100">
            <div class="p-4">
                <p>Отбележете своя маршрут до спирка на градския трансопрт.</p>

                Избереше маршрут:
                <p>
                    Натиснете на отсечка от картата за да я добавите към маршрут. Натиснете повторно на отсечка от маршрута за да я извадите.
                </p>

                <div id="collections-list">
                </div>
            </div>
        </div>
    </div>

    <div>
        <input hidden id="collections-toggle" type="checkbox">
        <label title="Маршрути" for="collections-toggle" class="btn btn-primary d-flex collections-toggle checkbox">
            <i class="fas fa-layer-group"></i>
        </label>
    </div>
{% endblock %}
