{% block content %}
    <div class="side-panel">
        <p>Отбележете своя маршрут до спирка на градския трансопрт.</p>

        <button type="submit" class="btn btn-md btn-primary">Нов маршрут</button>

        Избереше маршрут:
{# 
        <ul class="mt-2 pl-4">
            <li><a href="{{ path('app.geo-collection.view', {'id': collectionItem.uuid}) }}"
                    class="{% if collection is defined and collectionItem.uuid == collection.uuid %}font-weight-bold{% endif %}">Маршрут {{ m }}</a>
                {% if collection is defined and collectionItem.uuid == collection.uuid %}[<span class="text-success"> активен</span>]{% endif %}
            </li>
        </ul> #}
    </div>
{% endblock %}
