{% extends 'front/map/layout.html.twig' %}
{% block title %}Карта{% endblock %}
{% block content %}
    <div class="gc-map-wrapper">
        <div id="mapMini" class="map-left" data-locate-on-load="true"></div>
    </div>
    <div class="gc-sidebar-wrapper pl-5">
        <p>Отбележете своя маршрут до спирка на градския трансопрт.</p>

        <form action="{{ path('app.geo-collection.add') }}" method="post" class="mb-4">
            <button type="submit" class="btn btn-md btn-primary">Нов маршрут</button>
        </form>

        <p>Натиснете на отсечка от картата за да я добавите към маршрут. Натиснете повторно на отсечка от маршрута за да я извадите.</p>
        <div id="div1"></div>
        <div id="div2"></div>
        <div id="div3"></div>
    </div>
    <script>
        let gcOpen = '{{ collection.uuid }}';
        let mapOption = {
            {% if collection is defined %}
            collection: '{{ collection.uuid }}',
            {% endif %}
            survey: false,
        {# {% if boundingBox is not empty %}bbox: {{ boundingBox }}{% endif %} #}
        }
    </script>
{% endblock %}
