<footer class="footer-nav footer mt-auto py-4">
    <div class="container text-center">
        <a href="{{ path('app.site.terms-and-conditions') }}" class="mr-4">Условия за ползване</a>
        <a href="{{ path('app.site.privacy-policy') }}" class="mr-4">Политика за лични данни</a>
        <a href="" class="mr-4">Отворени данни</a>
        <a href="https://vizia.sofia.bg/" target="_blank">Визия за София</a>
    </div>
</footer>
