<footer class="footer-nav footer mt-auto py-3">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <a href="{{ path('app.site.terms-and-conditions') }}" class="mr-3">Условия за ползване</a>
                <a href="{{ path('app.site.privacy-policy') }}">Политика за лични данни</a>
            </div>
            <div>
                <div class="text-center">Проучване на градската среда @ <a href="https://vizia.sofia.bg/"
                                                                           target="_blank">Визия за София</a></div>
            </div>
        </div>
    </div>
</footer>
