.collections {
    &-toggle {
        position: fixed;
        top: 300px;
        left: 40px;
    }
    
    &-list {
        &-item {
            &-link {
                .is-active {
                    visibility: hidden;
                }
                
                &.active {
                    .is-active {
                        visibility: visible;
                    }
                }
            }

            .remove {
                font-size: 11px;
                padding: 4px 5px 0;
            }
        }
    }
}