.survay {
    position: absolute;
    top: 100%;
    background-color: #fff;
    width: 100%;
    transition: top 0.3s ease;
    height: 62%;
    overflow: auto;

    &.active {
        top: 38%;
    }

    &-question {
        &-option {
            cursor: pointer;

            &.is-answered {
                color: green;
            }
        }
    }
}