.survay {
    position: absolute;
    top: 100%;
    background-color: #fff;
    width: 100%;
    transition: top 0.3s ease;
    --suevey-height: 62%; // Sould allways be precentage unles changes in JS are made
    height: var(--suevey-height);
    overflow: auto;

    &.active {
        top: 38%;
    }

    &-question {
        &-option {
            cursor: pointer;

            &.is-answered {
                color: green;
            }
        }
    }
}