.legend-wrapper {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.4rem;
  z-index: 1000;
}

.legend-line {
  width: 40px;
  margin-top: 0.4rem;
  margin-right: 0.8rem;
  height: 5px;
}

.legend-line-s1 {
  background-color: #000000;height: 1px;
}

.legend-line-s2 {
  background-color: #00FF00;height: 1px;
}

.legend-line-t {
  background-color:  #E0AC69;
}

.legend-line-a {
  background-color:  #6BD2DB;
}

.legend-line-p {
  background-color:  #FFD183;
}

.legend-line-road {
  background-color:  #ff99ff;
}

#app-header {
  --active-area-width: 100%;
  --active-area-height: 78px;
  --active-area-top: 0;
  --active-area-left: 0;
  width: var(--active-area-width);
  height: var(--active-area-height);
  top: var(--active-area-top);
  left: var(--active-area-left);
  transition: 0.3s ease transform;
  transform: translate3d(0, -100%, 0);

  &.active {
    transform: translate3d(0, 0, 0);
  }
}

.carousel {
  $carousel: &;

  &-vertical-stack {
    #{$carousel}-item {
      display: block !important;
      transition: none !important;
      transform: translate3d(0, 0, 0);
      opacity: 0;
      animation: animate-vertical-fade 0.8s ease forwards;

      @keyframes animate-vertical-fade {
        from {
          opacity: 1;
        }
        to {
          opacity: 0.05;
        }
      }

      @media only screen and (max-width: map-get($grid-breakpoints, md)) {
        @keyframes animate-vertical-stack {
          from {
            transform: translate3d(0, 100%, 0);
          }
          to {
            transform: translate3d(0, 0, 0);
          }
        }
      }

      @media only screen and (min-width: map-get($grid-breakpoints, md)) {
        @keyframes animate-vertical-stack {
          from {
            transform: translate3d(100%, 0, 0);
          }
          to {
            transform: translate3d(0, 0, 0);
          }
        }
      }

      &.active {
        opacity: 1;
        z-index: 10;
        animation: animate-vertical-stack 0.6s ease forwards !important;
      }
    }
  }
}

.footer-nav {
  background-color: $colorPrimary;
  color: $white;
  font-size: 14px;
}

.footer-nav a {
  color: $white;
}

.custom-control-label {
  padding-top: 2px;
}

.gc-map-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 65%;
  /*  top: 120px; */
  background-color: #fff;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

.gc-sidebar-wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 35%;
  top: 120px;
  background: #fff;
  padding: 0 30px 0 0;
  overflow: hidden;
  z-index: 0;
  border: 0;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}
