<body>
<style>
    body {
        background-color: #111;
        color: #CCC;
    }
</style>
    {% include 'front/partial/header.html.twig' %}
    {% block body %}{% endblock %}
    {% include 'front/partial/footer.html.twig' %}
</body>

