{% extends 'front/base.html.twig' %}

{% block body %}
    <h2>Items</h2>

    <ul>
        {% for item in items %}
            <li><a href="{{ path('app.geospatial_object.details', {'id': item.id}) }}">{{ item.id }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
