* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

html {
  height: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.5;
}

.cursor-pointer {
  cursor: pointer;
}
